body
{
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
}
body,html
{
    height: 100%;
}
* 
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F1EBF2;
}
header{
    background-image: url("backend/images/teddy-3405768_1920.jpg");
    height: 1000px;

}
.logo img{
    width: 320px;
    height: 100px;
    object-fit: cover;
}
.navigation {
    margin-top: 20px;
    padding-right: 20px;
    font-size: 1.5em;
    font-weight: 500;
}
.navigation a{
text-decoration: none;
color: black;
}
.presentation{
    padding: 40px 20px;
    text-align: center;
}
.produit img{
    width: 50%;
    object-fit: contain;
}
.Norbert,.Arnold,.Lenny,.Gustav,.Garfunkel{
    display: flex;
    margin:40px;
    border: 1px solid #F1EBF2;
    width: 75%;    
    background-color: #F1EBF2;
    border-radius: 20px;
    
    
}
.titre{
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-right: 60px;
}
.histoire{
    text-align: center;
    padding:40px 20px;
}
footer{
    text-align: center;
    padding:40px 20px;
    padding:40px 20px;
    background-color:#F1EBF2;

}
.tel{
    display: flex;
    justify-content: center;
}
.tel i{
margin-top: 20px;;
}
@media (max-width:600px){
    .logo img{
        width: 220px;
    }
    .head{
        display: flex;
        flex-direction: column;
    }
    header{
        background-image: url("backend/images/teddy-3405768_640.jpg");
        height: 480px;
    }
    .titre{
        margin-right: 50px;
        margin-left: 50px;
    }
}     
@media (max-width:436px){
    .titre{
        margin-right: 20px;
        margin-left: 20px;
    }
}

