@charset "UTF-8";
/*generalités*/
body {
  margin: 0;
  padding: 0;
  font-family: "Prompt", sans-serif; }

body,
html {
  height: 100%; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*generalités*/
/*header*/
.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f1ebf2; }
  @media (max-width: 600px) {
    .head {
      display: flex;
      flex-direction: column; } }

header {
  background-image: url("/backend/teddy-3405768_1280.jpg");
  height: 850px; }
  @media (max-width: 800px) {
    header {
      background-image: url("/backend/images/teddy-3405768_640.jpg");
      height: 480px; } }

.logo img {
  width: 320px;
  height: 100px;
  object-fit: cover; }
  @media (max-width: 600px) {
    .logo img {
      width: 220px;
      height: 70px; } }

.navigation {
  margin-top: 20px;
  padding-right: 20px;
  font-size: 1.5em;
  font-weight: 500; }
  .navigation a {
    text-decoration: none;
    color: black; }

/*header*/
/*footer*/
footer {
  text-align: center;
  padding: 40px 20px;
  padding: 40px 20px;
  background-color: #f1ebf2; }

.tel {
  display: flex;
  justify-content: center; }
  .tel i {
    margin-top: 20px; }

/*footer*/
.intitule {
  padding: 40px 20px;
  text-align: center;
  font-size: 1.4em; }

@media (max-width: 600px) {
  .presentation__produit {
    margin-right: 20px; } }
.presentation__produit img {
  width: 60%;
  object-fit: contain;
  text-align: center; }

.leNorbert,
.lArnold,
.leLenny,
.leGustav,
.leGarfunkel {
  display: flex;
  flex-direction: column;
  border: 1px solid #f1ebf2;
  width: 90%;
  margin: 40px;
  background-color: #f1ebf2;
  border-radius: 20px;
  text-decoration: none;
  padding-bottom: 40px;
  justify-content: center; }

.image {
  display: flex;
  justify-content: center;
  margin: 70px 0px 70px; }

.boutons {
  display: flex;
  justify-content: center; }

.bouton {
  color: white;
  background-color: #663e8b;
  padding: 20px;
  border-radius: 20px; }

.letitre {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 100px;
  margin-right: 60px; }

select {
  margin-bottom: 30px; }

.histoire {
  text-align: center;
  padding: 40px 20px; }

.retour-accueil {
  display: flex;
  justify-content: center; }

.retour {
  margin: 50px;
  padding: 30px;
  border-radius: 20px;
  color: white;
  background-color: #9e4592; }

.presentation {
  text-align: center; }

.produit img {
  width: 60%;
  object-fit: contain;
  text-align: center;
  border-radius: 20px 0px 0px 20px; }

@media (max-width: 600px) {
  .Norbert,
  .Arnold,
  .Lenny,
  .Gustav,
  .Garfunkel {
    margin-right: 20px; } }
.Norbert a, .Norbert a, .Norbert a, .Norbert a, .Norbert a,
.Arnold a,
.Arnold a,
.Arnold a,
.Arnold a,
.Arnold a,
.Lenny a,
.Lenny a,
.Lenny a,
.Lenny a,
.Lenny a,
.Gustav a,
.Gustav a,
.Gustav a,
.Gustav a,
.Gustav a,
.Garfunkel a,
.Garfunkel a,
.Garfunkel a,
.Garfunkel a,
.Garfunkel a {
  display: flex;
  flex-direction: row;
  border: 1px solid #f1ebf2;
  margin: 40px;
  width: 90%;
  background-color: #f1ebf2;
  border-radius: 20px;
  text-decoration: none; }

.titre {
  display: flex;
  align-items: center;
  padding-left: 20px; }

.histoire {
  text-align: center;
  padding: 40px 20px;
  margin-left: 50px; }

/*# sourceMappingURL=main.css.map */
