@charset "UTF-8";
/*generalités*/
body {
  margin: 0;
  padding: 0;
  font-family: "Prompt", sans-serif; }

body,
html {
  height: 100%; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*generalités*/
/*variables*/
/*header*/
.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f1ebf2; }
  @media (max-width: 600px) {
    .head {
      display: flex;
      flex-direction: column; } }

header {
  background-image: url("/backend/images/teddy-3405768_1280.jpg");
  height: 850px; }
  @media (max-width: 800px) {
    header {
      background-image: url("/backend/images/teddy-3405768_640.jpg");
      height: 480px; } }

.logo img {
  width: 300px;
  height: 100px;
  object-fit: cover; }
  @media (max-width: 600px) {
    .logo img {
      width: 220px;
      height: 70px; } }

.navigation {
  margin-top: 20px;
  padding-right: 20px;
  font-size: 1.3em;
  font-weight: 500; }
  .navigation a {
    text-decoration: none;
    color: black; }

/*header*/
/*footer*/
footer {
  text-align: center;
  padding: 40px 20px;
  padding: 40px 20px;
  background-color: #f1ebf2; }

.tel {
  display: flex;
  justify-content: center; }
  .tel i {
    margin-top: 20px; }

/*footer*/
/*bouton accueil*/
.retour-accueil {
  display: flex;
  justify-content: center; }

.retour {
  margin: 50px;
  padding: 30px;
  border-radius: 20px;
  color: white;
  background-color: #9e4592; }

/*bouton accueil*/
/*style page produit*/
.intitule {
  padding: 40px 20px;
  text-align: center;
  font-size: 1.4em; }

@media (max-width: 600px) {
  .presentation__produit {
    margin-right: 20px; } }
.presentation__produit img {
  object-fit: contain;
  text-align: center; }

.leNorbert {
  display: flex;
  flex-direction: column;
  border: 1px solid #f1ebf2;
  width: 90%;
  margin: 30px;
  background-color: #f1ebf2;
  border-radius: 20px;
  text-decoration: none;
  padding-bottom: 40px;
  justify-content: center; }

.image {
  display: flex;
  justify-content: center;
  margin: 70px 0px 30px 0px; }

.bouton {
  font-size: 1.2em;
  text-align: center; }

#bouton {
  display: flex;
  justify-content: center;
  margin-left: 70px;
  font-size: 0.9em; }
  @media (max-width: 1100px) {
    #bouton {
      margin-left: 40px; } }
  @media (max-width: 700px) {
    #bouton {
      margin-left: 0px; } }
  #bouton a {
    color: white;
    background-color: #9e4592;
    border-radius: 20px;
    text-decoration: none;
    padding: 20px; }

.letitre {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-right: 30px; }
  @media (max-width: 900px) {
    .letitre {
      margin-left: 40px; } }
  @media (max-width: 550px) {
    .letitre {
      margin-left: 30px; } }

.choix {
  margin-left: 60px;
  margin-right: 60px; }
  @media (max-width: 900px) {
    .choix {
      margin-left: 40px; } }
  @media (max-width: 550px) {
    .choix {
      margin-left: 30px; } }

select {
  margin-bottom: 50px; }

/*style page panier*/
.oribears {
  text-align: center;
  margin: 60px; }

.intro {
  text-align: center; }

.commande-titre {
  text-align: center;
  margin-bottom: 50px;
  border: 1px solid #f1ebf2;
  background-color: #f1ebf2;
  border-radius: 20px 20px 0px 0px; }

#container-produits-panier {
  margin: 0px 40px 40px 40px;
  padding: 40px;
  border: 1px solid #f1ebf2;
  background-color: #f1ebf2;
  border-radius: 20px; }
  @media (max-width: 400px) {
    #container-produits-panier {
      padding: 10px;
      margin: 20px; } }

.container-recap {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.container-total {
  margin: 50px 0px; }

.icone {
  display: none; }
  @media (max-width: 600px) {
    .icone {
      display: flex; } }

@media (max-width: 600px) {
  .btn-supprimer {
    display: none; } }

.article,
.quantite,
.prixunit {
  margin-bottom: 40px; }

.prix-total {
  font-size: 1.5em; }

.btnviderpanier {
  border-radius: 20px;
  color: white;
  background-color: #9e4592;
  padding: 20px;
  margin: 30px 0px; }

#formulaire {
  border: 1px solid #f1ebf2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 40px;
  padding: 40px;
  background-color: #f1ebf2;
  border-radius: 20px;
  border: 4px solid white;
  margin-top: 60px; }
  #formulaire h3 {
    text-align: center;
    margin-bottom: 50px; }
  @media (max-width: 400px) {
    #formulaire {
      padding: 10px;
      margin: 20px; } }
  @media (max-width: 340px) {
    #formulaire {
      padding: 10px; } }

.prenom,
.nom,
.adresse,
.ville,
.email {
  margin-bottom: 30px;
  padding-left: 0px; }

.validercom button {
  margin: 50px 0px;
  padding: 20px;
  border-radius: 20px;
  color: white;
  background-color: #9e4592; }
  @media (max-width: 600px) {
    .validercom button {
      margin: 30px; } }

.retour-accueil {
  display: flex;
  justify-content: center; }

.retour {
  margin: 50px;
  padding: 30px;
  border-radius: 20px;
  color: white;
  background-color: #9e4592; }

/* style page recap*/
.texte {
  border: 1px solid #f1ebf2;
  margin: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column; }

.texte1 {
  display: flex;
  flex-direction: column;
  align-items: center; }

#texte2 {
  display: flex;
  flex-direction: column;
  background-color: #f1ebf2;
  align-items: center;
  width: 90%;
  padding: 30px; }
  #texte2 h4 {
    text-align: center; }
  @media (max-width: 340px) {
    #texte2 {
      margin-right: 30px; } }

.navigation {
  margin-left: 20px; }

.presentation {
  text-align: center; }
  @media (max-width: 800px) {
    .presentation {
      margin-left: 30px; } }

@media (max-width: 600px) {
  .leNorbert {
    margin-right: 30px; } }
.leNorbert h4 {
  font-size: 1.6em; }
.leNorbert img {
  display: flex;
  flex-direction: row;
  border: 1px solid #f1ebf2;
  width: 90%;
  background-color: #f1ebf2;
  border-radius: 20px;
  text-decoration: none; }

section {
  margin-right: 30px; }
  @media (max-width: 500px) {
    section {
      margin-right: 30px; } }

.titre {
  display: flex;
  padding-left: 20px; }

.price {
  font-weight: bold;
  font-size: 1.4em; }

.histoire {
  text-align: justify;
  margin: 100px 30px; }

/*# sourceMappingURL=main.css.map */
